# Virtual Environment
.venv/
.venv/*
.venv/bin/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.pyc

# Django
*.log
db.sqlite3
/static/
/media/

# Environment Variables
.env

# VS Code
.vscode/